.cart-product {
    height: 100px;
    padding:30px;
}

.cart-img-container {
    width: 80px;
    border: 1px solid rgb(231, 231, 231);
    margin-right: 20px;
}

.cart-img {
    width: 100%;
}

.cart-left-section {
    height: 100%;
}

.cart-title, .cart-kilo, .cart-price {
    margin: 0;
    padding: 10px 0 !important;
}

.cart-price{
    font-weight: bold;
}

.cart-kilo {
    font-size: small;
    opacity: 0.5;
}