.main-container {
    padding-top: 135px;
    margin-left: 405px;
    height: 100vh;
    background-color: #eeeeee;
}

.sorting-section {
    padding-left: 15px;
    height: 45px;
    background-color: white;
}

.products-section {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: start !important;
    align-items: start !important;
    gap: 10px;
}

