.add-to-cart {
    background-color: rgb(232, 247, 236);
    padding: 8px 20px;
    border : 1px solid green;
    color: green;
    font-weight: 600;
    border-radius: 5px;
    width: 70px;
    height: 34px;
}

.quantity-container {
    display: flex;
    width: 68px;
    height: 32px;
    justify-content: space-around;
    border : 1px solid green;
    align-items: center;
    color: rgb(232, 247, 236);
    background-color: green;
    border-radius: 5px;
}

.quantity-btn {
    all: unset;
}