.sidebar-container {
    position: fixed;
    height: 100vh;
    margin-top: 135px;
    margin-left: 145px;
    width: 260px;
    padding-top: 15px;
    border: 1px solid rgba(32, 32, 32, .1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.subcatagory-items {
    width: 100%;
    height: 72px;
    border-bottom: 1px solid rgba(32, 32, 32, .1);
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.subcatagory-image-container {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #f6f6f6;
    z-index: 98;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 20px;
}

.subcatagory-image {
    width: 100%;
    top: 10%;
    position: absolute;
}

.subcatagory-items.active::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 72px;
    background-color: rgb(36, 150, 63);
}

.subcatagory-items.active {
    background-color: rgb(232, 247, 236);
}